<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="foodDeliveryService" class="spring.service.FoodDeliveryServiceImpl">
        <constructor-arg name="orderDao" ref="orderDao" />
    </bean>

    <bean id="orderDao" class="spring.dao.OrderDaoImpl">
    </bean>

</beans>